@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANSans;
  src: url('./assets/fonts/Vazir-FD-WOL.woff');
}

* {
  font-family: IRANSans;
}

body {
  background-color: #050846;
  color: #fff;
  direction: rtl;
}
